# L1 Configuration (required)
L1_RPC_URL="https://ethereum-rpc.publicnode.com"
L1_RPC_KIND="basic"
L1_BEACON_RPC_URL="https://ethereum-beacon-api.publicnode.com"

# Sequencer
SEQUENCER_HTTP="https://mainnet-sequencer.optimism.io"
