name: linea-mainnet

# Named volumes for persistence.
volumes:
  linea-mainnet-besu:
    name: "linea-mainnet-besu"
  linea-mainnet-maru:
    name: "linea-mainnet-maru"

services:
  # Execution Layer
  linea-mainnet-besu:
    restart: on-failure:5
    image: consensys/linea-besu-package:beta-v4.4-rc7-20251202165721-14b8f4c
    hostname: el-client
    ports:
      - "0.0.0.0:21000:21000" # P2P
      - "0.0.0.0:21001:8545" # RPC-HTTP
      - "0.0.0.0:21002:8546" # RPC-WS
      - "127.0.0.1:21003:8551" # Engine API (for Maru)
    volumes:
      - linea-mainnet-besu:/opt/besu
      - ./jwttoken/jwt.hex:/opt/jwt/jwt.hex:ro
    command: >
      --network linea_mainnet
      --profile advanced-mainnet
      --p2p-port 21000
      --rpc-http-enabled="true"
      --rpc-http-host 0.0.0.0
      --rpc-http-port 8545
      --rpc-http-api "ETH,NET,WEB3,LINEA"
      --rpc-ws-enabled="true"
      --rpc-ws-host 0.0.0.0
      --rpc-ws-port 8546
      --engine-rpc-enabled
      --engine-rpc-port 8551
      --engine-jwt-disabled="false"
      --engine-jwt-secret="/opt/jwt/jwt.hex"
      --data-path /opt/besu
      --sync-mode snap

  # Consensus Layer
  linea-mainnet-maru:
    restart: on-failure:5
    image: consensys/maru:9737a45
    depends_on:
      - linea-mainnet-besu
    ports:
      - "0.0.0.0:21010:21010" # P2P
      - "0.0.0.0:21011:21011" # RPC-HTTP
    volumes:
      - linea-mainnet-maru:/opt/maru
      - ./jwttoken/jwt.hex:/opt/jwt/jwt.hex:ro
      - ./maru-config.toml:/opt/maru-config.toml:ro
    command: >
      java -jar maru.jar
      --network linea-mainnet
      --config="/opt/maru-config.toml"
