name: ethereum-sepolia

# Named volumes for persistence.
volumes:
  ethereum-sepolia-reth:
    name: "ethereum-sepolia-reth"
  ethereum-sepolia-lighthouse:
    name: "ethereum-sepolia-lighthouse"

services:
  # Execution Layer
  reth:
    restart: on-failure:5
    image: ghcr.io/paradigmxyz/reth:v1.9.3
    hostname: el-client
    ports:
      - "0.0.0.0:20100:30303" # P2P TCP
      - "0.0.0.0:20100:30303/udp" # P2P UDP
      - "0.0.0.0:20101:8545" # RPC-HTTP
      - "0.0.0.0:20102:8546" # RPC-WS
      - "127.0.0.1:20103:8551" # Engine API (for Lighthouse)
    volumes:
      - ethereum-sepolia-reth:/data
      - ./jwttoken/jwt.hex:/jwt/jwt.hex:ro
    # https://paradigmxyz.github.io/reth/run/troubleshooting.html#concurrent-database-access-error-using-containersdocker
    pid: host
    command: >
      node
      --chain sepolia
      --full
      --datadir /data
      --http
      --http.addr 0.0.0.0
      --http.port 8545
      --http.api eth,net,web3,txpool
      --ws
      --ws.addr 0.0.0.0
      --ws.port 8546
      --authrpc.addr 0.0.0.0
      --authrpc.port 8551
      --authrpc.jwtsecret /jwt/jwt.hex

  # Consensus Layer
  lighthouse:
    restart: on-failure:5
    image: sigp/lighthouse:v8.0.1
    depends_on:
      - reth
    ports:
      - "0.0.0.0:20110:9000" # P2P TCP
      - "0.0.0.0:20110:9000/udp" # P2P UDP
      - "0.0.0.0:20111:9001/udp" # QUIC P2P
      - "0.0.0.0:20112:5052" # REST API
    volumes:
      - ethereum-sepolia-lighthouse:/data
      - ./jwttoken/jwt.hex:/jwt/jwt.hex:ro
    command: >
      lighthouse bn
      --network sepolia
      --datadir /data
      --execution-endpoint http://el-client:8551
      --execution-jwt /jwt/jwt.hex
      --checkpoint-sync-url https://sepolia.beaconstate.info
      --listen-address 0.0.0.0
      --port 9000
      --quic-port 9001
      --http
      --http-address 0.0.0.0
      --http-port 5052
