name: linea-sepolia

# Named volumes for persistence.
volumes:
  linea-sepolia-besu:
    name: "linea-sepolia-besu"
  linea-sepolia-maru:
    name: "linea-sepolia-maru"

services:
  # Execution Layer
  besu:
    restart: on-failure:5
    image: consensys/linea-besu-package:beta-v4.4-rc7-20251202165721-14b8f4c
    hostname: el-client
    ports:
      - "0.0.0.0:21100:21100" # P2P
      - "0.0.0.0:21101:8545" # RPC-HTTP
      - "0.0.0.0:21102:8546" # RPC-WS
      - "127.0.0.1:21103:8551" # Engine API (for Maru)
    volumes:
      - linea-sepolia-besu:/opt/besu
      - ./jwttoken/jwt.hex:/opt/jwt/jwt.hex:ro
    command: >
      --network linea_sepolia
      --profile advanced-sepolia
      --p2p-port 21100
      --rpc-http-enabled="true"
      --rpc-http-host 0.0.0.0
      --rpc-http-port 8545
      --rpc-http-api "ETH,NET,WEB3,LINEA"
      --rpc-ws-enabled="true"
      --rpc-ws-host 0.0.0.0
      --rpc-ws-port 8546
      --engine-rpc-enabled
      --engine-rpc-port 8551
      --engine-jwt-disabled="false"
      --engine-jwt-secret="/opt/jwt/jwt.hex"
      --data-path /opt/besu
      --sync-mode snap

  # Consensus Layer
  maru:
    restart: on-failure:5
    image: consensys/maru:95cab28
    depends_on:
      - besu
    ports:
      - "0.0.0.0:21110:21110" # P2P
      - "0.0.0.0:21111:21111" # RPC-HTTP
    volumes:
      - linea-sepolia-maru:/opt/maru
      - ./jwttoken/jwt.hex:/opt/jwt/jwt.hex:ro
      - ./maru-config.toml:/opt/maru-config.toml:ro
    command: >
      java -jar maru.jar
      --network linea-sepolia
      --config="/opt/maru-config.toml"
